.header {
    margin-bottom: 120px;
    padding-top: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.header__col {
    display: flex;
    align-items: center;
}

.header__col--align--right{
    justify-content: flex-end;
}

.header__services {
    margin-bottom: 0;
}