.welcome {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: url("../../img/start/bg.png") center bottom / cover no-repeat;
}

.central {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: bounce 1.6s;
}

.central__text {
    margin-bottom: 65px;
    font-size: 18px;
}

.btn-main--start {
    min-width: 165px;
    text-align: center;
}

@keyframes bounce {
    0% {
        transform: scale(0);
    }
    
    15% {
        transform: scale(1.2);
    }

    30% {
        transform: scale(0.9);
    }

    45% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);    
    }
    
}